@page "/planets"
@inject SwapiService Api
@using StarWarsExplorer.Models

@code {
    List<Planet> planets;

    protected override async Task OnInitializedAsync()
    {
        planets = await Api.GetPlanetsAsync();
    }
}

<h3 class="page-heading">Planets</h3>

@if (planets == null)
{
    <div class="loader">Loading planets...</div>
}
else
{
    <div class="character-list-container">
        @foreach (var planet in planets)
        {
            <div class="character-card">
                <a href="/planets/@planet.Uid" class="character-link">@planet.Name</a>
            </div>
        }
    </div>
}
