@page "/species"
@inject SwapiService Api
@using StarWarsExplorer.Models

@code {
    List<Species> speciesList;

    protected override async Task OnInitializedAsync()
    {
        speciesList = await Api.GetSpeciesAsync();
    }
}

<h3 class="page-heading">Species</h3>

@if (speciesList == null)
{
    <div class="loader">Loading species...</div>
}
else
{
    <div class="character-list-container">
        @foreach (var species in speciesList)
        {
            <div class="character-card">
                <a href="/species/@species.Uid" class="character-link">@species.Name</a>
            </div>
        }
    </div>
}
