@page "/species/{id}"
@inject SwapiService Api
@using StarWarsExplorer.Models

@code {
    [Parameter] public string id { get; set; }
    Species species;
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        species = await Api.GetSpeciesByIdAsync(id);
        isLoading = false;
    }
}

@if (isLoading)
{
    <div class="loader">Loading species...</div>
}
else if (species != null)
{
    <div class="character-detail-container">
        <div class="character-card-detail">
            <h2 class="character-name">@species.Properties.Name</h2>
            <ul class="character-attributes">
                <li><span>Classification:</span> @species.Properties.Classification</li>
                <li><span>Language:</span> @species.Properties.Language</li>
                <li><span>Designation:</span> @species.Properties.Designation</li>
            </ul>
        </div>
    </div>
}
